@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
}



ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.header{
border: 1px solid black;
width: 1000px;
height: 100px;
display: flex;
flex-direction: row;
font-size: 30px;
text-align: center;
justify-content: space-between;
align-items: center;
padding: 30px;
}
.header ul > li > a{
display: inline-block;
width: 100px;
padding: 16px 16px;
text-align: center;
}
.header ul > li:hover > a{
background-color: skyblue;
}

.dropdown{
position: relative;
}

div.dropdown-content {
display: none;
position: absolute;
background-color: rgb(19, 224, 122);
min-width: 160px;
z-index: 2;
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

div.dropdown-content a{
display: block;
padding: 16px 16px;;
z-index: 2;
}

div.dropdown-content a:hover{
background-color: aqua;
z-index: 2;
}

.dropdown:hover .dropdown-content{
display: block;
z-index: 2;
}